* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: silver;
}

body{
  background: linear-gradient(to bottom, RGB(0 10 35 / 50%),RGB(0 0 5 / 50%)),url('https://github.com/Derelium/test/blob/main/background.jpg?raw=true') no-repeat center center fixed; 
  background-size: cover;
  }

#wrapper{
  width: 700px;
  margin:0 auto;
  background:RGBA(0,0,50,5);
  font-family:Georgia;
  background: linear-gradient(to bottom, RGB(0 10 35 / 50%),RGB(25 5 10 / 50%))
  }
h1, p, label, legend {
    color:var(--main-bg-color);
    text-shadow: 1px 1px 35px rgb(15, 15, 0);
  }

#description{
  font-style:italic;
  font-size:16px;
  margin:0;
}

button{
  margin:0 0 0 0;  
  background-color: white;
  text-align: center;
  
}

p, legend, fieldset{
  font-size: 30px;
  margin: 60 0 0 0;
}

i{
  font-size: 15px;
  
}
br{
  margin:0;
  padding:0;
}

fieldset{
  border:none;
}
textarea{
  width:700px;
 }
p, fieldset{
  margin:30px 0 0 0;
}

:invalid:required{
  border: 2px solid rgba(155, 6, 6, 0.705);
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
:required:valid{
  border: 5px solid rgb(0, 31, 18);
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

input:hover, span:hover, legend:hover, text:hover{
  color:rgb(3, 0, 60);
  transition: 3s;
  -webkit-text-stroke:1px var(--main-bg-color);
}
input, span, legend, text{
transition: 4s;
}
