*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#quote-box{margin:50px 50px 50px 50px;}

h1, h2, h3, h4,h5{
    color:gold;
}

h1{
    font-size: 5vw;
}
h5{
    font-size: 2vw;
}


body{
    background-color: black;
}

button{
    background-color:gold;
    border-radius: 12px;
    margin: 10px;
    font-size: 2vw;
}

